body {
  background-image: linear-gradient(white, lightyellow, lightgreen, lightblue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0px;
  background-color: #ccc;
}

select {
  display: block;
}

label {
  display: block;
  text-shadow: 2px 2px white;
}

h1 {
  text-shadow: 2px 2px white;
}

p {
  font-size: 12pt;
  font-family: cursive;
}

#back {
  display: none;
}
