body {
  background-image: linear-gradient(white, lightyellow, lightgreen, lightblue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0px;
}

select {
  display: block;
}

label {
  display: block;
}
